* {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: hidden;
}
.nav {
  width: 100%;
  display: flex;
  padding: 10px 0;
}
.nav div:first-of-type {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav div:last-of-type {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.menu {
  all: unset;
  padding: 0 10px;
  cursor: pointer;
  font-weight: 900;
  font-size: 2.5em;
}
.logo {
  all: unset;
  font-size: 1.5em;
  color: black;
  font-weight: 600;
  cursor: pointer;
}
.add-task {
  all: unset;
  width: 35px;
  height: 35px;
  text-align: center;
  color: black;
  font-size: 2em;
  font-weight: 900;
  border: 2px black solid;
  margin: 0 5px;
  border-radius: 50%;
  cursor: pointer;
}

.theme {
  all: unset;
  width: 35px;
  height: 35px;
  text-align: center;
  color: black;
  font-size: 1em;
  font-weight: 900;
  border: 2px black solid;
  margin: 0 5px;
  border-radius: 50%;
  cursor: pointer;
}
.sidebar {
  position: absolute;
  z-index: 2;
  height: 100vh;
  width: 0;
  max-width: 100vw;
  transition: 0.5s ease-in-out;
  top: 2.6em;
  left: 0;
  overflow-x: hidden;
}

.close-sidebar {
  position: absolute;
  right: 5px;
  top: 5px;
}
.all-projects {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}
.project {
  display: flex;
  width: 90%;
  justify-content: space-between;
}
.project-name {
  flex: 1;
}
.project-control {
  display: flex;
  justify-content: space-evenly;
}

.edit-project {
  position: absolute;
  z-index: 9;
  max-width: 450px;
  min-width: 250px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transform: translateY(-200px);
  transition: 0.5s;
}
.tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  min-width: 450px;
  height: auto;
}
.task {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.task-name {
  flex: 1;
}
.task-control {
  display: flex;
  justify-content: space-evenly;
}
.edit-task {
  position: absolute;
  z-index: 36;
  max-width: 400px;
  min-width: 250px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transform: translateY(750px);
  transition: 0.5s;
}
