* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}
html {
  background-color: #575151;
}
body {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: hidden;
}
.nav {
  background-color: #00adb5;
  width: 100%;
  display: flex;
  padding: 10px 0;
}
.nav div:first-of-type {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav div:last-of-type {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 2px;
}
.menu {
  all: unset;
  text-align: center;
  padding: 0.1em;
  cursor: pointer;
  font-weight: 900;
  font-size: 2em;
  color: white;
}
.menu:hover {
  background-color: #2c595c33;
  border-radius: 10px;
}
.logo {
  all: unset;
  font-size: 1.5em;
  color: white;
  font-weight: 500;
}
.add-task {
  all: unset;
  color: white;
  margin-right: 5px;
  padding: 10px;
  cursor: pointer;
  font-weight: 500;
  font-size: 1em;
}
.add-task:hover {
  background-color: #2c595c33;
}
.sidebar {
  position: absolute;
  top: 0;
  background-color: #575151;
  left: -100vw;
  width: 400px;
  height: 100vh;
  transition: 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}
.show {
  left: 0;
}
.close-sidebar {
  all: unset;
  font-weight: 900;
  font-size: 1.2em;
  color: white;
  position: absolute;
  right: 20px;
  top: 10px;
  cursor: pointer;
}
.project-btn {
  all: unset;
  position: absolute;
  top: 35px;
  left: 35%;
  cursor: pointer;
  color: white;
  background-color: #2f89fc;
  padding: 5px;
}
.all-projects {
  display: flex;
  margin: 75px 0;
  flex-direction: column;
  width: 85%;
  height: auto;
}
.project {
  display: flex;
  width: 95%;
  justify-content: space-between;
  align-items: center;
  padding: 0.6em;
  /* border-top: #474242 2px solid; */
  /* border-bottom: #474242 2px solid; */
  /* border-radius: 10px; */
  text-transform: capitalize;
  cursor: pointer;
  color: white;
}
.project:hover {
  background-color: #382f2f93;
  border-radius: 10px;
}
.project-name {
  flex: 1;
}
.project-control {
  display: flex;
  width: 20%;
  justify-content: space-evenly;
}
.project-control :first-child {
  all: unset;
  color: white;
  font-weight: 800;
  padding: 0.2em;
  font-size: 1em;
}
.project-control :last-child {
  all: unset;
  color: red;
  font-size: 1em;
  padding: 0.3em;
  font-weight: 800;
}
.project-control :first-child:hover {
  background-color: #fff23591;
  border-radius: 5px;
}
.project-control :last-child:hover {
  background-color: #830a0a8a;
  border-radius: 5px;
}

.new-project {
  position: absolute;
  z-index: 9;
  max-width: 450px;
  min-width: 250px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transform: translateY(-200px);
  transition: 0.5s;
}
.edit-project {
  display: none;
}
.show-edit-project {
  position: absolute;
  z-index: 9;
  max-width: 450px;
  min-width: 250px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.tasks {
  color: white;
  display: flex;
  margin: 25px;
  flex-direction: column;
  align-items: center;
  max-width: 750px;
  width: 62%;
  min-width: 350px;
  height: auto;
  /* overflow: auto; */
  overflow-y: auto;
  overflow-x: hidden;
}
.task {
  display: flex;
  width: 97%;
  justify-content: space-between;
  align-items: center;
  padding: 0.6em;
  border-top: #474242 2px solid;
  border-bottom: #474242 2px solid;
  border-radius: 10px;
  text-transform: capitalize;
  color: white;
}
.task:hover {
  background-color: #382f2f93;
  border-radius: 10px;
  cursor: pointer;
}
.task:first-child {
  margin: 15px;
  text-transform: capitalize;
}
.task-name {
  flex: 1;
}
.task-control {
  display: flex;
  width: 10%;
  justify-content: space-evenly;
}
.task-control :first-child {
  all: unset;
  font-size: 1em;
  font-weight: 500;
  padding: 0.2em;
}
.task-control :last-child {
  all: unset;
  padding: 0.3em;
  font-size: 1em;
  font-weight: 800;
  color: red;
}
.task-control :first-child:hover {
  border-radius: 3px;
  background-color: #fff23591;
}
.task-control :last-child:hover {
  border-radius: 3px;
  background-color: #830a0a94;
}
.new-task {
  position: absolute;
  z-index: 36;
  max-width: 400px;
  min-width: 250px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transform: translateY(750px);
  transition: 0.5s;
}

.edit-task {
  display: none;
}
.show-edit-task {
  position: absolute;
  display: flex;
  z-index: 37;
  max-width: 400px;
  min-width: 250px;
  height: 200px;
  flex-direction: column;
  justify-content: space-evenly;
}
